<!-- Education section -->

<section class="education" id="education">
    <h2 class ="titulo-de-education">E D U C A C I Ó N</h2>
    <h3>Colegio Secundario</h3>
        <h4>Instituto Pio IX </h4>
            <p>• Título de Bachiller con capacitación laboral en informática (2014 - 2018)</p>
    <h3>Universidad</h3>
        <h4> UTN-FRBA </h4>
            <p>• Ingeniería en Sistemas (2019- En Curso)</p>
    <h3>Cursos Realizados</h3>
        <h4>
            Argentina Programa 
        </h4>
            <p>• 1era Etapa (Junio 2022 - Agosto 2022)</p>
            <p>• 2da Etapa (Noviembre 2022 - En Curso)</p>
</section>
