<!-- Projects section -->
<section class="proyectos" id="proyectos">
  <h2 class="titulo-de-proyectos">Algunos de mis proyectos recientes</h2>
  <div class="contenedor-de-proyectos">
      <div class="tarjeta-de-proyectos">
          <img
              src="./assets/imagenes/expenseTracker.png"
              alt="rastreador-de-gastos"
              loading="lazy"
              class="foto-de-proyecto"
          />
          <h3 class="titulo-de-proyectos">Ra$treador</h3>
          <p class="detalles-de-proyectos">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
          ratione vel inventore labore commodi modi quos culpa aut saepe!
          Alias!
          </p>
          <a href="#" target="_blank" class="enlace-de-proyecto">Echale un vistazo!</a>
      </div>
      <div class="tarjeta-de-proyectos">
          <img
              src="./assets/imagenes/netflixClone.png"
              alt="netflic-clone"
              loading="lazy"
              class="foto-de-proyecto"
          />
          <h3 class="titulo-de-proyectos">Netflic Clone</h3>
          <p class="detalles-de-proyectos">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
          ratione vel inventore labore commodi modi quos culpa aut saepe!
          Alias!
          </p>
          <a href="#" target="_blank" class="enlace-de-proyecto">Echale un vistazo!</a>
      </div>
      <div class="tarjeta-de-proyectos">
          <img
              src="./assets/imagenes/greenyEarth.png"
              alt="greeny-earth"
              loading="lazy"
              class="foto-de-proyecto"
          />
          <h3 class="titulo-de-proyectos">Greeny Earth</h3>
          <p class="detalles-de-proyectos">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
          ratione vel inventore labore commodi modi quos culpa aut saepe!
          Alias!
          </p>
          <a href="#" target="_blank" class="enlace-de-proyecto">Echale un vistazo!</a>
      </div>
  </div>
</section>