<header>
    <div class="wrapper">
      <div class="logo" >José F.Terraza</div>
        <nav>
          <a href="#about">Sobre mi</a>
          <a href="#habilidades">Habilidades</a>
          <a href="#proyectos">Proyectos</a>
          <a href="#contacto">Contacto</a>
          <a href="http://www.linkedin.com/in/j-f-terraza" ><i class="bi bi-linkedin text-grey hover-text-white"></i></a>
          <a href="https://github.com/Jfterraza01" target="_blank"><i class="bi bi-github text-grey hover-text-white"></i></a>
          <a href="#"><i class="bi bi-key"></i></a>
        </nav>
    </div>
  </header>