<!-- Navbar -->
<nav>
  <h1>José Francisco Terraza</h1>
    <ul class="navigation">
      <li><a href="#about" class="nav-link">Sobre mi</a></li>
      <li><a href="#more-about" class="nav-link">Educación</a></li>
      <li><a href="#habilidades" class="nav-link">Habilidades</a></li>
      <li><a href="#proyectos" class="nav-link">Proyectos</a></li>
      <li><a href="#contacto" class="nav-link">Contacto</a></li>
      <li><a href="http://www.linkedin.com/in/j-f-terraza"><i class="bi bi-linkedin"></i></a></li>
      <li><a href="https://github.com/Jfterraza01" target="_blank"><i class="bi bi-github"></i></a></li>
    </ul>
    <!--<button class="burger-menu" id="burger-menu">
      <ion-icon class="bars" name="menu-outline"></ion-icon>
    </button>-->
</nav>

