<!-- Hero Section -->
<section class="hero" id="about">
  <img
      src="./assets/imagenes/ProfilePhoto.jpeg"
      alt="terraza-jose"
      loading="lazy"
      class="hero-img"
  />
  <div class="bio animate__animated animate__shakeX">
      <h2 class="bio-title">Sobre Mi</h2>
      <p class="bio-text">
          Gran motivación para seguir
          perfeccionando habilidades y crecer
          profesionalmente. Acostumbrado
          tanto al trabajo en equipo como
          individual. Confío plenamente en
          mi capacidad de aprender y
          enfrentar nuevos desafíos.
      </p>
  </div>
</section>
   