<section class="hero" id="about">
    <img 
     src="./assets/imagenes/ProfilePhoto.jpeg" 
     alt="Profile LOGO"
     loading="lazy" 
     class="hero-img"
    />
       <div class="descripcion">
         <h2 class="bio-titulo">Sobre Mí</h2>
         <p class="bio-texto">
         Gran motivación para seguir
         perfeccionando habilidades y crecer
         profesionalmente. Acostumbrado
         tanto al trabajo en equipo como
         individual. Confío plenamente en
         mi capacidad de aprender y
         enfrentar nuevos desafíos.
         </p>
       </div>
     </section>
   
     <section class="mas-sobre">
       <h2 class="mas-titulo">Más sobre mí</h2>
       <p class="mas-texto wrapper">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
         nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
         autem deleniti cupiditate molestias quis unde quae totam porro dicta
         iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus
       </p>
       <p class="mas-texto wrapper">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
         nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
         autem deleniti cupiditate molestias quis unde quae totam porro dicta
         iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus
       </p>
       <p class="mas-texto wrapper">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
         nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
         autem deleniti cupiditate molestias quis unde quae totam porro dicta
         iure animi inventore, veniam hic! Omnis nulla, delectus a voluptatibus
       </p>
     </section>
   