/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #fffffa;
}

header {
	width: 100%;
	overflow: hidden;
	background: #737373;
	margin-bottom: 20px;
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

header .logo {
	color:#f2f2f2;
	font-size:2.2rem;
	line-height:150px;
	float:left;
	font-style: italic;
}

header nav{
	float: right;
	line-height: 150px;
}

header nav a{
	display: inline-block;
	color:#fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-weight: bold;
	-webkit-transition: all 10ms ease;
	-o-transition: all 10ms ease;
	transition: all 300ms ease;
}

header nav a:hover{
	background: #d9d9d9;
	border-radius: 20px;
}

.header2 {
	position: fixed;
	height:100px;
}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}


@media screen and (max-width: 1150px) {
	header .logo, header nav {
		width:100%;
		text-align:center;
		line-height:100px;
	}

	.header2 {
		height:auto;
	}

	.header2 .logo{
		line-height:50px;
	}
	.header2 nav {
		line-height:50px;
	}
}

.imgRedonda {
    width:200px;
    height:250px;
    border-radius:150px;
	border:10px solid black;
}

.descripcion{
	float: right;
	width: 80%;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	max-width: 68.75rem;
	margin: auto;
}

.hero-img {
	width:20rem;
    height:24rem;
    border-radius:150px;
	border:10px solid black;
}

.bio {
	width: 25rem;
	padding: 0.625rem;
	border-radius: 6px;
	box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
  
.bio-titulo{
	margin-bottom: var(--bottom-margin);
}
  
.bio-texto{
	line-height: var(--line-height);
	padding: 0.3rem 0;
}

.mas-sobre {
	background-color: var(--bg-color);
	padding: 1rem 6rem;
}
  
.mas-titulo {
	margin-bottom: var(--bottom-margin);
	text-align: center;
}
  
.mas-texto {
	line-height: var(--line-height);
	padding: 0.4rem;
	text-align: center;
}

.habilidades {
	max-width: 68.75rem;
	margin: auto;
	text-align: center;
	margin-top: 2.5rem;
}
  
.header-habilidades {
	margin-bottom: 1rem;
}
  
.contenedor-habilidades img{
	padding: 1.25rem;
}
  
.icon {
	width: 11.875rem;
	height: 11.25rem;
}

.icon-card {
	background-color: #d9d9d9;
	border-radius: 11px;
	box-shadow: 0 3px 10px var(--secondary-shadow);
	padding: 20px;
	margin: 10px;
}

.proyectos {
	background-color: var(--bg-color);
	padding: 32px 0;
	margin-top: 2rem;
  }
  
.foto-de-proyecto{
	width: 55%;
	height: 50%;
}
  
.contenedor-de-proyectos{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: auto;
	padding: 2rem;
}

.titulo-de-proyectos{
	text-align: center;
	margin-bottom: 1rem;
}

.contenedor-de-proyectos p {
	padding: 0.4rem;
  }
  
.titulo-de-proyectos{
	margin-bottom: var(--bottom-margin);
}
  
.detalles-de-proyectos{
	margin-bottom: var(--bottom-margin);
 }
  
.tarjeta-de-proyectos{
	background-color: #d9d9d9;
	border-radius: 11px;
	box-shadow: 0 3px 10px var(--primary-shadow);
	padding: 20px;
	margin: 10px;
}

.contacto {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
  
.contacto h2 {
	text-align: center;
	margin-bottom: 2rem;
}
  
.formulario-contacto-contenedor {
	max-width: 40.75rem;
	margin: 0 auto;
	padding: 0.938rem;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.formulario-contacto-contenedor label {
	line-height: 2.7em;
	font-weight: bold;
	color: blue;
  }
  
  .formulario-contacto-contenedor textarea {
	min-height: 6.25rem;
	font-size: 14px;
  }
  
  .formulario-contacto-contenedor .input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	border-style: solid;
	border-color: blue;
	font-size: 1rem;
  }

  .input-field::placeholder {
	padding: 0.5rem;
	color: blue;
  }

  .submit-btn {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border: 2px solid var(blue);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	transition: 0.8s;
  }

  .submit-btn:hover {
	background-color: blue;
	border: 2px solid var(blue);
	cursor: pointer;
  }

  .socicon {
	width: 2rem;
	height: 2rem;
  }

  .scroll-up {
	position: fixed;
	right: 0.5%;
	bottom: 3%;
	cursor: pointer;
  }

  .up-arrow {
	width: 3rem;
	height: 3rem;
  }

  footer {
	background-color: #fff;
	padding: 1.25rem;
	text-align: center;
	margin: 2rem 0 0;
  }